@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.h100 {
    height: 92vh;
    background-image:linear-gradient(rgba(0,0,0,0.4)), url(../../assets/landing.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}

.h1s {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 500;
    font-family: "Momo Trust Display", sans-serif;
}


/* *********************** */
