@import "tailwindcss";  
@custom-variant dark (&:where(.dark, .dark *));

.heading-Sections
{
  @apply text-center font-bold text-3xl mb-5 dark:text-[#E9EDEF];
}
.cap-sections
{
  @apply text-center text-lg text-[#333333] dark:text-[#C5CFD6] md:w-3/4 mx-auto;
}
.gridtemplet
{
  @apply grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-5;
}
.profileBtn
{
  @apply px-5 py-1.5 hover:bg-[#203825] text-gray-100 bg-[#4d7c5c] duration-200 rounded-sm cursor-pointer;
}
.profileToggle
{
  @apply h-screen bg-[#cedbd3] dark:bg-[#1A242A] shadow-md w-max  fixed top-0 z-50 flex flex-col gap-3 duration-400;
}
.landingBtn
{
  @apply px-6 mt-5 py-2.5 font-medium text-xl bg-[#335D39] dark:bg-[#203825] text-white hover:bg-[#4d7c5c] duration-200 rounded-xl cursor-pointer ;
}
.aboutBox
{
  @apply border dark:border-[#294353a6] border-[#adabab] p-3 ps-4 rounded-xl;
}
.testimonialBox
{
  @apply border border-[#adabab] dark:border-[#294353a6] rounded-xl p-3 ps-4;
}
.testmonial-person
{
  @apply mb-3 flex items-center gap-3;
}
.star-icons
{
  @apply flex gap-2 mt-2 items-center justify-center;
}
.h3-vision
{
  @apply text-[#203825] dark:text-[#4d805e] text-xl font-medium;
}
body{
    overflow-x: hidden;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.link.active
{
  color:  #4d7c5c;
}







/* @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap'); */