@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-color: #203825;
    --second-color: #4d7c5c;
    --hover-color: #3c654a;
    --soft-green-color:#e6f0ea;
    --text-color: #333333;
    --sub-text-color: #555555;
    --white-color:#fff;
    --smooth-white:#F7F7F7;
    --light-gray:#e2e0e0c4;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Encode Sans Expanded", sans-serif;
    overflow-x: hidden;
    background-color: var(--smooth-white);
}

a {
    text-decoration: none !important;
    color: black;
}
.nav-parent
{
    background-color: var(--smooth-white);
}
.navLink:hover
{
    color: var(--hover-color);
}
.nav-icon
{
    color: var(--text-color);
    font-size: 1.5rem;
}
.logo {
    color: var(--text-color) !important;
}

.active {
    color: var(--second-color);
}

.navIcon {
    font-size: 1.4rem;
    cursor: pointer;
}
.shopping, .note
{
    color: var(--second-color);
}

.aboutIcone {
    color: var(--second-color);
}

.about-col-content h3,
h2,
h3 {
    color: var(--text-color);
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem !important;
    margin: 0;
}

.about-col-content p {
    color: var(--sub-text-color);
}

.vision-col-content p {
    color: var(--sub-text-color);
}

.vision-col-content h4 {
    color: #2e4b34;
    font-weight: 600;
}

.ourvision{
    background-color: var(--soft-green-color);
}

.testimon-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.star-icons {
    color: rgb(231, 231, 24);
}

.testmonial-content {
    color: var(--sub-text-color);
}

.testmonial-content span {
    color: var(--text-color);
}


.playStoreImg {
    width: 200px;
    height: 60px;
    object-fit: cover;
}

.footer-section ul {
    transition: all 0.3s ease;
}

.footer-title:hover h5 {
    color: var(--hover-color);
}

.pointer {
    cursor: pointer;
}
/* herbas */
.cat {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 20px;
  transition: 0.3s;
  white-space: nowrap; 
  background-color: var(--soft-green-color);
  color: var(--main-color);
}
.categories ul
{
     scrollbar-width: none;
}

.cat.active {
  background-color: var(--hover-color);
  color: var(--white-color);

}

.categories .cat:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
}

/* Search bar */
.search-wrapper {
  background-color: var(--soft-green-color);
  display: flex;
  justify-content: center;
}

.search-box {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.searchInput {
  padding-left: 45px;
  background-color: #fdfdfd;
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #777;
}

.slider-wrapper {
  width: 100%;
  margin: 0 auto;
}
.img-slider {
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.slider-images
{
    border-radius: 10px;
}
.cartBtn
{
    background-color: var(--second-color);
    color: var(--white-color);
}
.cartBtn:hover
{
    background-color: var(--main-color);
    color: var(--white-color);
}
.herbas .col-content
{
    border-radius:10px ;
    transition: all 1s;
}
.herbas .col-content:hover
{
    transform: translateY(-5px);
}
.cat-img
{
    border-radius: 10px 10px 0 0;
}


.bg-second {
    background-color: var(--second-color);
}
.row-rounded
{
    border-radius: 10px;
}
.bg-main {
    background-color: var(--main-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.border-second {
    border: 1px solid var(--second-color);
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 110%;
  background-color: var(--soft-green-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 10;
}

.profile-dropdown.profile-dropdown-appear {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-btn
{
    background-color: var(--second-color);
}
.profile-btn:hover
{
    background-color: var(--hover-color);
}
.sign-btn
{
    background-color: var(--hover-color);
}
.sign-btn:hover
{
    background-color: var(--second-color);
}

@media (max-width:576px) {
    .bg-main{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .search-box {
        max-width: 100%;
    }

    .searchIcon {
        left: 12px;
    }

}